

#comments-form > p{
    line-height: 3rem;
    font-size: 1.1rem;
}

.comments-input {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments-input input {
    width: calc(100% - 70px);
    height: 43px;
    padding: 13px 12px 10px;
    border: 1px solid #ccc;
    border-right: 0;
    outline: none;
}

.comments-input input::placeholder {
    color: #ccc;
}

.comments-input button {
    width: 70px;
    height: 43px;
    color: #fff;
    background-color: #f02459;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
}

.comments-box .comment {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.comments-box .comment-name {
    margin-bottom: 12px;
}

.comments-box .comment-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;

}

.comment-text {margin-bottom: 10px;}

.comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-button button {
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
}

