html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

#wrap {
    position: relative;
}

.inner_wrap2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
}

.inner_wrap2 > div {
    display: flex;
    gap: 10px;
}

.inner_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

#pageUp {
    width: 65px;
    position: fixed;
    bottom: 100px;
    right: 10vw;
    z-index: 100;
    cursor: pointer;
    border-radius: 65px;
}

#pageUp img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    height: 200px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #cccccc;
}



@media screen and (max-width: 700px) {
    header {
        height: auto; /* 미디어 쿼리 적용 시 높이를 자동으로 조정하도록 설정 */
        padding-top: 20px; /* 상단 여백을 줄임 */
        padding-bottom: 20px; /* 하단 여백을 줄임 */
    }

    .inner_wrap2 {
        flex-direction: column; /* 아이콘과 버튼을 세로로 배치 */
        align-items: center; /* 가운데 정렬 */
        justify-content: center; /* 가운데 정렬 */
    }

    #decorated_icons {
        margin-top: 10px; /* 아이콘과 버튼 사이 간격 조정 */
    }

    #search {
        display: flex; /* 입력 상자와 버튼을 수평으로 정렬하기 위해 flex 사용 */
        align-items: center; /* 입력 상자를 가운데 정렬 */
    }

    #search_input {
        width: calc(100% - 40px); /* 입력 상자 너비 100%로 설정 */
        height: 40px;
        border: 0;
        outline: none;
        background-color: #fff;
    }

    #search button {
        width: 30px; /* 버튼 너비 조정 */
        height: 30px; /* 버튼 높이 조정 */
        cursor: pointer;
        border: 0;
        background-color: #fff;
    }

    #search button img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}






main {
    min-height: calc(100vh - 275px);
}


#logo a {
    display: inline-block; /* 인라인 블록으로 설정하여 텍스트를 중앙 정렬 */
    text-align: center;
    font-size: 2rem;
    line-height: 50px;

}

#logo a:hover {
 color: #f02459; 
}

#lang_change_btn,
#heartlink {
    margin-left: 10px; /* 이미지들 사이의 간격 설정 */
    cursor: pointer;
}

#lang_change_btn,
#heartlink,
#pageUp img {
    width: 30px;
    height: 30px;
}


#search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0 10px;
    background-color: #fff;
    margin: 30px auto;
}

#search input {
    width: calc(100% - 40px);
    height: 40px;
    border: 0;
    outline: none;
    background-color: #fff;
}

#search button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

#search button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#main_menus {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

#main_menus .inner_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}


#main_menus .inner_wrap button {
    width: 50%;
    height: 70px;
    background-color: #fff;
    border: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.5s background-color;
}

#main_menus .inner_wrap button:hover {
    background-color: #f02459;
    color: #fff;
    opacity: 0.8;
}

#main_menus .inner_wrap button:first-child {
    border-right: 0;
}

#main_menus .inner_wrap button.chk {
    background-color: #f02459;
    color: #fff;
}

#movie-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#movie-list .movie {
    background-color: #f5f5f5;
    height: 420px;
    width: 23%;
    margin-left: calc(8% / 4);
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

#movie-list .movie>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#movie-list .movie .hover p {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#movie-list .movie .hover {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: 0.2s opacity;
}

#movie-list .movie:hover .hover {
    opacity: 1;
}


#movie-list .movie .hover .title {
    margin-bottom: 10px;
}

#movie-list .movie .hover span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    #footer {
        margin: 20px; 
    }

    .footer-left {
        text-align: center;
    }

    .footer-left a {
        display: inline-block; 
        margin: 10px 10px 0; 
    }

    .footer-right {
        text-align: center; 
        margin-top: 10px; 
    }


    #movie-list .movie {
        background-color: #f5f5f5;
        height: 420px;
        width: 45%;
        margin-left: calc(10% / 3);
    }
}


#footer a {
    text-decoration: none; 
    color: #333; 
    margin: 10px;
}

#footer a:hover {
    color: #f02459; 
}



img {
    width: 50px;
    height: auto;
}



